workflows/workflows/PwCQRZwkJw9xNfbs.json
{"createdAt":"2026-07-09T06:48:55.468Z","updatedAt":"2026-07-09T06:48:55.468Z","id":"PwCQRZwkJw9xNfbs","name":"CAPI - batdongsanvietnam.site - page review căn hộ","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":408577274,"mode":"list","cachedResultName":"2.1 Khách hàng Biên Hòa - a Thành (1)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=408577274"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:T200"}}}},"id":"e166c804-1cf0-4e5a-a58e-a6f5f97da528","name":"Đọc 2.1 a Thành","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,304],"executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":130693305,"mode":"list","cachedResultName":"2.2 Khách hàng Biên Hòa - A Thành (2)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=130693305"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:T1100"}}}},"id":"ecabc829-f45b-4169-aa5c-d12b4d586e4d","name":"Đọc 2.2 a Thành","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,464],"executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":346901722,"mode":"list","cachedResultName":"2.5 Khách hàng Biên Hòa - Vũ (1)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=346901722"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:S100"}}}},"id":"334c516c-a23b-447a-a1ad-b8a7c35cc8ae","name":"Đọc 2.5 Vũ","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,624],"executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":204400943,"mode":"list","cachedResultName":"2.6 Khách hàng Biên Hòa - Vũ (2)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=204400943"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:S200"}}}},"id":"41e72b69-ee61-4bb4-afa5-d9926302b23b","name":"Đọc 2.6 Vũ","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-960,784],"executeOnce":true},{"parameters":{"numberInputs":4},"id":"78d5a920-cccc-481c-aa59-a40af7c1d2ab","name":"Gộp 4 tab","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-720,544]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":60}]}},"id":"0d06e773-bd1e-452d-b883-6d54d1d22326","name":"Lịch 60 phút1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1456,544]},{"parameters":{"documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"options":{}},"id":"40d920be-9363-445d-830c-879ba01120d4","name":"Đọc CAPI_LOG1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1216,544],"alwaysOutputData":true,"executeOnce":false},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst sha256 = (t) => t ? crypto.createHash('sha256').update(String(t).trim().toLowerCase(),'utf8').digest('hex') : '';\nconst normPhone = (v) => { let d=String(v||'').replace(/\\D/g,''); if(!d) return ''; if(d.startsWith('0')) d='84'+d.slice(1); else if(!d.startsWith('84')) d='84'+d; return d; };\nconst SEVEN=7*24*60*60; const nowS=()=>Math.floor(Date.now()/1000);\nconst safeTime=(raw)=>{const n=nowS(); if(!raw) return n; const t=Math.floor(new Date(raw).getTime()/1000); if(!Number.isFinite(t)) return n; return (n-t)>SEVEN?n:t;};\n\nconst sent = new Set();\nfor (const it of $('Đọc CAPI_LOG1').all()) {\n  const j=it.json; const id=String(j['Lead ID']||'').trim(); const ev=String(j['Event']||'').trim();\n  if (id && ev) sent.add(id+'|'+ev);\n}\n\n// Dựng 1 event; tự nhận diện id là leadgen Facebook (l:...) hay mã nội bộ (BH...)\nconst buildEvent = (j, EVENT, eventTime, custom) => {\n  const rawId = String(j.id||'').trim();\n  const phone = normPhone(j.phone_number);\n  const email = j.email || '';          // tab Vũ (2.5/2.6) không có cột email -> rỗng\n  const name  = String(j.full_name||'').trim().toLowerCase();\n  if (!rawId && !phone) return null;             // không đủ để khớp\n  if (sent.has(rawId + '|' + EVENT)) return null; // đã gửi rồi\n  const cleaned = rawId.replace(/[^0-9]/g,'');\n  const isLeadgen = /^l:/i.test(rawId) || (/^\\d+$/.test(rawId) && cleaned.length>=12);\n  const leadgenId = isLeadgen ? cleaned : '';\n  let fn='',ln='';\n  if(name){const p=name.split(/\\s+/); if(p.length>1){fn=p.pop(); ln=p.join(' ');} else fn=p[0];}\n  const ud={};\n  if(email) ud.em=[sha256(email)];\n  if(phone) ud.ph=[sha256(phone)];\n  if(fn) ud.fn=[sha256(fn)];\n  if(ln) ud.ln=[sha256(ln)];\n  if(rawId) ud.external_id=[sha256(rawId)];\n  if(leadgenId) ud.lead_id=leadgenId;            // chỉ tab Vũ có leadgen id thật\n  const ev={ event_name:EVENT, event_time:eventTime, event_id:rawId, action_source:'system_generated', user_data:ud };\n  if(custom) ev.custom_data=custom;\n  return { json:{ event:ev, _leadId:rawId, _meta:{ name:j.full_name||'', phone } } };\n};\n\nconst out=[];\nfor (const item of $input.all()) {\n  const e = buildEvent(item.json, 'Lead', safeTime(item.json.created_time), null);\n  if (e) out.push(e);\n}\nreturn out;\n"},"id":"0d890dc9-0280-49bf-b6d5-0ffe11b31f13","name":"Tạo event Lead1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,384]},{"parameters":{},"id":"ae1a12c3-5648-4978-b486-14c797d53ba4","name":"Gửi CAPI Lead2","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-240,384],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $now.toISO() }}","Lead ID":"={{ $('Tạo event Lead1').item.json._leadId }}","Event":"Lead","Kết quả":"OK","events_received":"={{ $json.events_received }}\n","fbtrace_id":"={{ $json.fbtrace_id }}\n"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9317543e-9b24-4a55-831c-af05e59b40dc","name":"Log OK Lead1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,336],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $now.toISO() }}","Lead ID":"={{ $('Tạo event Lead1').item.json._leadId }}","Event":"Lead","Kết quả":"LỖI","fbtrace_id":"={{ ($json.error && $json.error.fbtrace_id) || '' }}","Chi tiết lỗi":"={{ ($json.error && $json.error.message) || JSON.stringify($json.error || {}) }}"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"18e4471a-7f1a-45d3-a305-dbe14e092dbf","name":"Log LỖI Lead1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,512],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst sha256 = (t) => t ? crypto.createHash('sha256').update(String(t).trim().toLowerCase(),'utf8').digest('hex') : '';\nconst normPhone = (v) => { let d=String(v||'').replace(/\\D/g,''); if(!d) return ''; if(d.startsWith('0')) d='84'+d.slice(1); else if(!d.startsWith('84')) d='84'+d; return d; };\nconst SEVEN=7*24*60*60; const nowS=()=>Math.floor(Date.now()/1000);\nconst safeTime=(raw)=>{const n=nowS(); if(!raw) return n; const t=Math.floor(new Date(raw).getTime()/1000); if(!Number.isFinite(t)) return n; return (n-t)>SEVEN?n:t;};\n\nconst sent = new Set();\nfor (const it of $('Đọc CAPI_LOG1').all()) {\n  const j=it.json; const id=String(j['Lead ID']||'').trim(); const ev=String(j['Event']||'').trim();\n  if (id && ev) sent.add(id+'|'+ev);\n}\n\n// Dựng 1 event; tự nhận diện id là leadgen Facebook (l:...) hay mã nội bộ (BH...)\nconst buildEvent = (j, EVENT, eventTime, custom) => {\n  const rawId = String(j.id||'').trim();\n  const phone = normPhone(j.phone_number);\n  const email = j.email || '';          // tab Vũ (2.5/2.6) không có cột email -> rỗng\n  const name  = String(j.full_name||'').trim().toLowerCase();\n  if (!rawId && !phone) return null;             // không đủ để khớp\n  if (sent.has(rawId + '|' + EVENT)) return null; // đã gửi rồi\n  const cleaned = rawId.replace(/[^0-9]/g,'');\n  const isLeadgen = /^l:/i.test(rawId) || (/^\\d+$/.test(rawId) && cleaned.length>=12);\n  const leadgenId = isLeadgen ? cleaned : '';\n  let fn='',ln='';\n  if(name){const p=name.split(/\\s+/); if(p.length>1){fn=p.pop(); ln=p.join(' ');} else fn=p[0];}\n  const ud={};\n  if(email) ud.em=[sha256(email)];\n  if(phone) ud.ph=[sha256(phone)];\n  if(fn) ud.fn=[sha256(fn)];\n  if(ln) ud.ln=[sha256(ln)];\n  if(rawId) ud.external_id=[sha256(rawId)];\n  if(leadgenId) ud.lead_id=leadgenId;            // chỉ tab Vũ có leadgen id thật\n  const ev={ event_name:EVENT, event_time:eventTime, event_id:rawId, action_source:'system_generated', user_data:ud };\n  if(custom) ev.custom_data=custom;\n  return { json:{ event:ev, _leadId:rawId, _meta:{ name:j.full_name||'', phone } } };\n};\n\nconst out=[];\nfor (const item of $input.all()) {\n  const j=item.json;\n  if (String(j.TT||'').trim() !== 'Quan tâm') continue;   // chỉ gửi khách \"Quan tâm\"\n  const e = buildEvent(j, 'QualifiedLead', nowS(), { value:1000000, currency:'VND' });\n  if (e) out.push(e);\n}\nreturn out;\n"},"id":"4204f6ca-5ac2-48e1-a1cb-4986227f5a4a","name":"Tạo event Qualified1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,736]},{"parameters":{},"id":"d9ed6e71-8615-4ee9-8e4c-6ef33df31f72","name":"Gửi CAPI Qualified1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-240,736],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $now.toISO() }}","Lead ID":"={{ $('Tạo event Qualified1').item.json._leadId }}","Event":"QualifiedLead","Kết quả":"OK","events_received":"={{ $json.events_received }}","fbtrace_id":"={{ $json.fbtrace_id }}"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c1aba4cb-b226-4d09-839a-6a934b820369","name":"Log OK Qualified1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,672],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Chi tiết lỗi":"={{ ($json.error && $json.error.message) || JSON.stringify($json.error || {}) }}","fbtrace_id":"={{ ($json.error && $json.error.fbtrace_id) || '' }}","Kết quả":"LỖI","Event":"QualifiedLead","Lead ID":"={{ $('Tạo event Qualified1').item.json._leadId }}","Thời gian":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2d672c53-fb2d-443c-a7cb-dd9b8b90b3f9","name":"Log LỖI Qualified1","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,784],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst sha256 = (t) => t ? crypto.createHash('sha256').update(String(t).trim().toLowerCase(),'utf8').digest('hex') : '';\nconst onlyDigits = (v) => String(v||'').split('').filter(c=>c>='0'&&c<='9').join('');\nconst normPhone = (v) => { let d=onlyDigits(v); if(!d) return ''; if(d[0]==='0') d='84'+d.slice(1); else if(d.slice(0,2)!=='84') d='84'+d; return d; };\nconst nowS=()=>Math.floor(Date.now()/1000);\n\nconst sent = new Set();\nfor (const it of $('Đọc CAPI_LOG1').all()) {\n  const j=it.json; const id=String(j['Lead ID']||'').trim(); const ev=String(j['Event']||'').trim();\n  if (id && ev) sent.add(id+'|'+ev);\n}\n\nconst buildEvent = (j, EVENT, eventTime) => {\n  const rawId = String(j.id||'').trim();\n  const phone = normPhone(j.phone_number);\n  const email = j.email || '';\n  const name  = String(j.full_name||'').trim().toLowerCase();\n  if (!rawId && !phone) return null;\n  if (sent.has(rawId + '|' + EVENT)) return null;\n  const cleaned = onlyDigits(rawId);\n  const isLeadgen = rawId.toLowerCase().slice(0,2)==='l:' || (cleaned.length===rawId.length && cleaned.length>=12);\n  const leadgenId = isLeadgen ? cleaned : '';\n  let fn='',ln='';\n  if(name){const p=name.split(' ').filter(x=>x); if(p.length>1){fn=p.pop(); ln=p.join(' ');} else fn=p[0]||'';}\n  const ud={};\n  if(email) ud.em=[sha256(email)];\n  if(phone) ud.ph=[sha256(phone)];\n  if(fn) ud.fn=[sha256(fn)];\n  if(ln) ud.ln=[sha256(ln)];\n  if(rawId) ud.external_id=[sha256(rawId)];\n  if(leadgenId) ud.lead_id=leadgenId;\n  return { json:{ event:{ event_name:EVENT, event_time:eventTime, event_id:rawId, action_source:'system_generated', user_data:ud }, _leadId:rawId, _meta:{ name:j.full_name||'', phone } } };\n};\n\nconst out=[];\nfor (const item of $input.all()) {\n  const j=item.json;\n  const wantsZalo = Object.values(j).some(v => v != null && String(v).toLowerCase().indexOf('zalo')>=0);\n  if (!wantsZalo) continue;\n  const e = buildEvent(j, 'Contact', nowS());\n  if (e) out.push(e);\n}\nreturn out;"},"id":"b40459e9-428b-4d4d-a571-f848e65b27c0","name":"Tạo event Contact","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,48]},{"parameters":{},"id":"5e0abc96-d9d5-4bf3-9df0-9ba39ecd6437","name":"Gửi CAPI Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-240,48],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $now.toISO() }}","Lead ID":"={{ $('Tạo event Contact').item.json._leadId }}","Event":"Contact","Kết quả":"OK","events_received":"={{ $json.events_received }}","fbtrace_id":"={{ $json.fbtrace_id }}","Chi tiết lỗi":""},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"7acf70c5-3576-40a6-8355-a35e9d2cf0f9","name":"Log OK Contact","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ","mode":"list","cachedResultName":" DIGITAL  - KH BH","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1182718555,"mode":"list","cachedResultName":"CAPI_LOG","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ck_brQN4y_nC-oX_GrwD6gwtVqQhhUhptbn71_qPqkQ/edit#gid=1182718555"},"columns":{"mappingMode":"defineBelow","value":{"Thời gian":"={{ $now.toISO() }}","Lead ID":"={{ $('Tạo event Contact').item.json._leadId }}","Event":"Contact","Kết quả":"LỖI","events_received":"","fbtrace_id":"={{ ($json.error && $json.error.fbtrace_id) || '' }}","Chi tiết lỗi":"={{ ($json.error && $json.error.message) || JSON.stringify($json.error || {}) }}"},"matchingColumns":[],"schema":[{"id":"Thời gian","displayName":"Thời gian","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead ID","displayName":"Lead ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event","displayName":"Event","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kết quả","displayName":"Kết quả","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"events_received","displayName":"events_received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fbtrace_id","displayName":"fbtrace_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chi tiết lỗi","displayName":"Chi tiết lỗi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"f8229b6a-5b9a-4376-977c-d5b7b9a3fd91","name":"Log LỖI Contact","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,112],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000}],"connections":{"Đọc 2.1 a Thành":{"main":[[{"node":"Gộp 4 tab","type":"main","index":0}]]},"Đọc 2.2 a Thành":{"main":[[{"node":"Gộp 4 tab","type":"main","index":1}]]},"Đọc 2.5 Vũ":{"main":[[{"node":"Gộp 4 tab","type":"main","index":2}]]},"Đọc 2.6 Vũ":{"main":[[{"node":"Gộp 4 tab","type":"main","index":3}]]},"Gộp 4 tab":{"main":[[{"node":"Tạo event Lead1","type":"main","index":0},{"node":"Tạo event Qualified1","type":"main","index":0},{"node":"Tạo event Contact","type":"main","index":0}]]},"Lịch 60 phút1":{"main":[[{"node":"Đọc CAPI_LOG1","type":"main","index":0}]]},"Đọc CAPI_LOG1":{"main":[[{"node":"Đọc 2.1 a Thành","type":"main","index":0},{"node":"Đọc 2.2 a Thành","type":"main","index":0},{"node":"Đọc 2.5 Vũ","type":"main","index":0},{"node":"Đọc 2.6 Vũ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bafc7002-4c1c-4812-8155-93d74eee7445","triggerCount":0,"tags":[],"shared":[{"createdAt":"2026-07-09T06:48:55.473Z","updatedAt":"2026-07-09T06:48:55.473Z","role":"workflow:owner","workflowId":"PwCQRZwkJw9xNfbs","projectId":"GuGrSX2INX7pvlpB","project":{"createdAt":"2026-07-04T04:55:15.396Z","updatedAt":"2026-07-04T04:57:27.940Z","id":"GuGrSX2INX7pvlpB","name":"Gin Gin <quocthinhqng1@gmail.com>","type":"personal","icon":null,"description":null}}]}